
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Pdf Raporları sayfası</h1>

<br />
<a href="/PdfReport/StaticPdfReport/" class="btn btn-outline-info">Statik pdf Raporları</a>
<br />
<br />
<a href="/PdfReport/StaticCustomerReport/" class="btn btn-outline-info">Statik Müşteri pdf Raporları</a>

